{% extends 'base.html' %}
{% block title %}Listagem de Veículos{% endblock %}
{% block content %}
    <form method="get">
        <input type="text" name="buscar" placeholder="Buscar veículo" />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <table class="table">
        <thead>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Ano</th>
            <th>Ação</th>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.model }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.year }}</td>
                <td>
                    <a href="{% url 'editar_carro' pk=car.id %}">
                        <i class="material-icons">node_edit</i>
                    </a>
                    <a href="{% url 'remover_carro' pk=car.id %}">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{% url 'cadastro_carro' %}" class="btn btn-primary">Cadastrar</a>
{% endblock %}