<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'materialize/js/materialize.min.js' %}"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper purple darken-4">
            <a href="#" class="brand-logo center">Supermercado</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{% url 'lista_marcas' %}">Marcas</a></li>
                <li><a href="{% url 'lista_produtos' %}">Produtos</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>